.client {
  padding-top: 60px;
  padding-bottom: 30px;
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // justify-content: space-between;
  margin-bottom: -30px;

  @media screen and (min-width: 480px) {
    margin-right: -30px;
  }
}
.client__item {
  margin-bottom: 30px;
  margin-right: 30px;
  @media screen and (min-width: 480px) {
    flex-basis: calc(100% - 60px) / 2;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}
.client .section__title {
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 36px;
  }
}
.client__link {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--color-icon-clients);
  border: 1px solid #afb1b8;
  border-radius: 3%;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
    color: var(--accent-text-color);
  }
}
.client__icon {
  fill: currentColor;
}
