.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-background-color);
  color: var(--white-text-color);
}
.footer a {
  text-decoration: none;
}
.logoFooter {
  color: var(--white-text-color);
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.contactsFoot {
  margin-top: 20px;
}
.contactsFoot .contacts__link,
.contactsFoot .contacts__link {
  color: rgba(255, 255, 255, 0.6);
}
.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.foot {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-left: 70px;
}
.footsocial-link {
  display: flex;
  padding-right: 10px;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--color-icon-clients);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: white;
    background-color: var(--accent-text-color);
    border-radius: 50%;
  }
}
.footer-social .text {
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 20px;
  color: var(--white-text-color);
  text-transform: uppercase;
}
.footer-social-list {
  display: flex;
  justify-content: flex-start;
}
.footer-social-list .item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join {
  margin-left: 93px;
}
.join-list {
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.join-button {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 50px;
  letter-spacing: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--accent-text-color);
  color: var(--white-text-color);
  border-radius: 5px;
  border: transparent;
}
.email {
  width: 365px;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  background-color: var(--secondary-background-color);
}
.sign {
  margin-right: 20px;
}
.telegram {
  position: absolute;
  top: 40%;
  right: 0;
  margin-right: 28px;
}
