:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --secondary-background-color: #2f303a;
  --white-text-color: #ffffff;
  --color-icon-clients: #afb1b8;
  --image-color-icon: #f5f4fa;
  --backdrop-color: rgba(0, 0, 0, 0.2);
}
body {
  font-family: roboto, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
  width: 100%;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  // @media screen and (min-width: 768px) {
  //   max-width: 768px;
  // }
  // @media screen and (min-width: 1200px) {
  //   max-width: 1200px;
  // }
}

img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
